/* Custom properties */
:root {
  /* colors */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;

  /* font-sizes */
  --fs-900: 9.375rem; /* 150px */
  --fs-800: 6.25rem; /* 100px */
  --fs-700: 3.5rem; /* 56px */
  --fs-600: 2rem; /* 32px */
  --fs-500: 1.75rem; /* 28px */
  --fs-400: 1.125rem; /* 18px */
  --fs-300: 1rem; /* 16px */
  --fs-200: 0.875rem; /* 14px */

  /* font-families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
}

/* Utility Classes */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.space-between {
  justify-content: space-between;
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  padding-inline: 2em;
  max-width: 80rem;
  margin-inline: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.grow {
  flex-grow: 1;
}

/* Colors */
.bg-dark {
  background-color: hsl(var(--clr-dark) / var(--alpha, 100%));
}

.bg-accent {
  background-color: hsl(var(--clr-light) / var(--alpha, 100%));
}

.bg-white {
  background-color: hsl(var(--clr-white) / var(--alpha, 100%));
}

.text-dark {
  color: hsl(var(--clr-dark));
}

.text-accent {
  color: hsl(var(--clr-light));
}

.text-white {
  color: hsl(var(--clr-white));
}

.alpha-20 {
  --alpha: 20%;
}

/* HTML elements */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: normal;
}

body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-dark));
}

/* Typography */
.ff-serif { font-family: var(--ff-serif); }
.ff-sans-cond { font-family: var(--ff-sans-cond); }
.ff-sans-normal { font-family: var(--ff-sans-normal); }

.letter-spacing-1 { letter-spacing: 4.75px; }
.letter-spacing-2 { letter-spacing: 2.7px; }
.letter-spacing-3 { letter-spacing: 2.35px; }

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }


.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

.numbered-title {
  text-transform: uppercase;
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-500);
  letter-spacing: 4.72px;
}

.numbered-title span {
  margin-right: 0.855em;
  font-weight: 700;
  color: hsl(var(--clr-white) / 25%);
 }