/* Custom properties */
:root {
  /* colors */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;

  /* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1.75rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;

}

@media (min-width: 35em) {
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-400: 1rem;
  }
}

@media (min-width: 45em) {
  :root {
    --fs-800: 6.25rem; /* 100px */
    --fs-700: 3.5rem; /* 56px */
    --fs-600: 2rem; /* 32px */
    --fs-400: 1.125rem; /* 18px */
  }
}

/* Utility Classes */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.block {
  display: block;
}

.grid-place-center {
  place-content: center;
}

.text-align-center {
  text-align: center;
}

.container {
  padding-inline: 2em;
  max-width: 80rem;
  margin-inline: auto;
}

.grid-container {
  text-align: center;
  display: grid;
  place-items: center;
  padding-inline: 1rem;
}

  .grid-container * {
    max-width: 50ch;
  }

@media (min-width: 45rem) {
  .grid-container {
    text-align: left;
    column-gap: var(--container-gap, 2rem);
    grid-template-columns: minmax(1rem, 1fr) repeat(2, minmax(0px, 30rem)) minmax(1rem, 1fr);
  }

  .grid-container > *:first-child {
    grid-column: 2;
  }

  .grid-container > *:last-child {
    grid-column: 3;
  }

  .grid-container--home {
    padding-bottom: max(6rem, 20vh);
    align-items: end;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.grow {
  flex-grow: 1;
}

/* Applies a margin-top to all child elements of .flow */
/* Except to the first element */
/* The same could be done with te :last-child together with margin-bottom*/
/* Outline can be removed. It's only being used for debugging purposes */
.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

/* Colors */
.bg-dark {
  background-color: hsl(var(--clr-dark) / var(--alpha, 100%));
}

.bg-accent {
  background-color: hsl(var(--clr-light) / var(--alpha, 100%));
}

.bg-white {
  background-color: hsl(var(--clr-white) / var(--alpha, 100%));
}

.text-dark {
  color: hsl(var(--clr-dark));
}

.text-accent {
  color: hsl(var(--clr-light));
}

.text-white {
  color: hsl(var(--clr-white));
}

.alpha-20 {
  --alpha: 20%;
}

/* HTML elements */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: normal;
}

body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-dark));

  display: grid;
  grid-template-rows: min-content 1fr;
}

/* Typography */
.ff-serif { font-family: var(--ff-serif); }
.ff-sans-cond { font-family: var(--ff-sans-cond); }
.ff-sans-normal { font-family: var(--ff-sans-normal); }

.letter-spacing-1 { letter-spacing: 4.75px; }
.letter-spacing-2 { letter-spacing: 2.7px; }
.letter-spacing-3 { letter-spacing: 2.35px; }

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }


.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

.numbered-title {
  text-transform: uppercase;
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-500);
  letter-spacing: 4.72px;
}

.numbered-title span {
  margin-right: 0.855em;
  font-weight: 700;
  color: hsl(var(--clr-white) / 25%);
 }

/* Components */

.large-button {
  position: relative;
  border-radius: 50%;
  display: inline-grid;
  z-index: 1;
  place-content: center;
  text-decoration: none;
  padding: 0 2em;
  aspect-ratio: 1;
  font-size: 2rem;
}

.large-button::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: hsl(var(--clr-white) / 15%);
  opacity: 0;
  transition: opacity 300ms linear, transform 300ms ease-in-out;
}

.large-button:hover::after,
.large-button:focus::after {
  opacity: 1;
  transform: scale(1.5);
}

.primary-navigation {
  --gap: 4rem;
  list-style: none;
  padding: 0;
  margin: 0;
  --underline-gap: 2rem;
}

.primary-navigation a {
  text-decoration: none;
}

.primary-navigation a > span {
  font-weight: 700;
  margin-right: 0.5em;
}

.underline-indicators > * {
  cursor: pointer;
  padding: var(--underline-gap, .75rem) 0;
  border: 0;
  border-bottom: 0.2rem solid hsl(var(--clr-white) / var(--alpha, 0%));
}

.underline-indicators > *:hover,
.underline-indicators > *:focus {
  --alpha: 50%;
}

.underline-indicators > .active,
.underline-indicators > [aria-selected="true"] {
  color: hsl(var(--clr-white));
  --alpha: 100%;
}

.tab-list {
  --gap: 2rem;
}

.dot-indicators > * {
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  aspect-ratio: 1;
  padding: .5em;
  background-color: hsl(var(--clr-white) / 25%);
}

.dot-indicators > *:hover,
.dot-indicators > *:focus {
  background-color: hsl(var(--clr-white) / 50%);
}

.dot-indicators > [aria-selected="true"] {
  background-color: hsl(var(--clr-white) / 100%);
}

.number-indicators > *{
  cursor: pointer;
  border: 1px solid hsl(var(--clr-white) / 25%);
  border-radius: 50%;
  aspect-ratio: 1;
  padding: 0 1em;
}

.number-indicators > *:hover,
.number-indicators > *:focus {
  border-color: hsl(var(--clr-white));
}

.number-indicators > [aria-selected="true"] {
  color: hsl(var(--clr-dark));
  background-color: hsl(var(--clr-white));
  border-color: hsl(var(--clr-white));
}

/* Page Specific Backgrounds */
body {
  background-size: cover;
  background-position: bottom center;
}

.home {
  background-image: url('./starter-code/assets/home/background-home-mobile.jpg');
}

@media (min-width: 35em) {
  .home {
    background-position: center center;
    background-image: url('./starter-code/assets/home/background-home-tablet.jpg');
  }
}

@media (min-width: 45em) {
  .home {
    background-image: url('./starter-code/assets/home/background-home-desktop.jpg');
  }
}