<!DOCTYPE html>
<html lang="en" class="text-lg">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../assets/images/favicon-32x32.png"
    />

    <title>Frontend Mentor | NFT preview card component</title>

    <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
    <style>
      .attribution {
        font-size: 11px;
        text-align: center;
      }
      .attribution a {
        color: hsl(228, 45%, 44%);
      }
    </style>
  </head>
  <body
    class="bg-main-bg h-screen text-white p-6 flex flex-col justify-center font-outfit"
  >
    <main>
      <section class="bg-card-bg p-6 rounded-xl max-w-sm mx-auto">
        <div>
          <div class="relative">
            <figure class="flex justify-center mb-4">
              <img
                [src]="cardImageUrl"
                alt="equilibrium statue"
                class="rounded-lg"
              />
            </figure>
            <div
              class="absolute rounded-lg top-0 left-0 h-full w-full flex justify-center items-center opacity-0 bg-soft-blue/70 hover:opacity-100 hover:cursor-pointer soft-transition"
            >
              <img
                src="../assets/images/icon-view.svg"
                alt="Icon to view image"
                class="w-14 h-14"
              />
            </div>
          </div>
          <h1
            class="font-semibold text-xl mb-4 hover:cursor-pointer hover:text-cyan soft-transition"
          >
            {{ cardTitle }}
          </h1>

          <section class="text-soft-blue font-light text-md pb-3">
            Our Equilibrium collection promotes balance and calm.
          </section>

          <section class="flex justify-between pb-3 border-b-[1px] border-line">
            <div class="text-cyan flex items-center">
              <div class="mr-1">
                <img
                  src="../assets/images/icon-ethereum.svg"
                  alt="icon-ethereum"
                />
              </div>
              <div>{{price}} ETH</div>
            </div>
            <div class="text-soft-blue flex items-center">
              <div class="mr-1">
                <img src="../assets/images/icon-clock.svg" alt="icon-clock" />
              </div>
              <div>{{daysLeft}} days left</div>
            </div>
          </section>

          <section class="flex mt-4">
            <div class="mr-4">
              <img
                [src]="creatorImgUrl"
                alt="avatar"
                class="rounded-full border-[1px] border-white h-8"
              />
            </div>
            <div class="text-soft-blue">
              Creation of
              <span class="text-white hover:cursor-pointer hover:text-cyan soft-transition"
                >{{creatorName}}</span
              >
            </div>
          </section>
        </div>
      </section>
    </main>

    <footer>
      <div class="attribution">
        Challenge by
        <a
          href="https://www.frontendmentor.io?ref=challenge"
          target="_blank"
          rel="noopener"
          >Frontend Mentor</a
        >. Coded by
        <a
          href="https://www.frontendmentor.io/profile/jlmcabral/"
          rel="noopener"
          >José Cabral</a
        >.
      </div>
    </footer>
  </body>
</html>
