@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Lexend+Deca&display=swap");

:root {
  --clr-very-dark-blue: hsl(233, 47%, 7%);
  --clr-dark-desaturated-blue: hsl(244, 38%, 16%);
  --clr-soft-violet: hsl(277, 64%, 61%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-p: hsla(0, 0%, 100%, 0.75);
  --clr-stat-headings: hsla(0, 0%, 100%, 0.6);

  --font-size: 15px;

  --border-radius: 10px;

  --ff-inter: "Inter", sans-serif;
  --ff-lexend-deca: "Lexend Deca", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body,
h1,
h2,
p {
  margin: 0;
}

body {
  text-align: center;
  background-color: var(--clr-very-dark-blue);
  height: 100vh;
  font-family: var(--ff-inter);
  font-size: var(--font-size);
  line-height: 1.6;
  color: var(--clr-p);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: var(--clr-white);
  margin: 1em 0;
  font-weight: 700;
}

img {
  height: 100%;
  width: 100%;
  max-width: 100%;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  max-width: 25rem;
}
.card {
  background-color: var(--clr-dark-desaturated-blue);
  border-radius: var(--border-radius);
  margin: 1.5rem;
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-paragraph {
  margin-bottom: 1rem;
}

.stats {
  margin: 1.5rem 0;
}

.stats > p {
  text-transform: uppercase;
  font-family: var(--ff-lexend-deca);
  font-size: 0.9em;
  letter-spacing: 2px;
}

.stats > h2 {
  color: var(--clr-white);
}

.card-content {
  padding: 0 2rem;
}

.highlighted-text {
  color: var(--clr-soft-violet);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 1000px) {
  /* .card {
    flex-direction: row-reverse;
    max-width: 50rem;
    text-align: left;
  }
  .card-content {
    padding: 3rem 4rem 3rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .stats-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .stats {
    margin: 0;
  }
  img {
    border-radius: 0;
    height: 100%;
    max-width: 50%;
    object-fit: cover;
  } */
}
